.container__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: var(--size-initial);
    padding: var(--size-initial);
    border-radius: var(--size-radius);
    background-color: var(--color-dark);
}

.container__filters {
    flex: 1 0 200px;
}

.conteiner__cards {
    flex: 4 0 calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: calc(var(--size-initial) / 2);
}