.container__main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: var(--size-initial);
    border-radius: var(--size-radius);
    background-color: var(--color-dark);
}

.container__filters {
    padding: var(--size-initial);
    flex: 1 0 200px;
}

.conteiner__cards {
    padding: var(--size-initial);
    flex: 4 0 calc(100% - 200px - var(--size-initial)*4);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: calc(var(--size-initial) / 2);
}