:root {
  --color-night: #181922;
  --color-dark: #24262d;
  --color-font: #fff;
  --size-initial: 20px;
  --size-radius: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.15;
  color: var(--color-font);
  background-color: var(--color-night);

}

button {
  all: unset;
  font-weight: 600;
  border: 1px solid var(--color-font);
  border-radius: var(--size-radius);
  padding: calc(var(--size-initial) / 2);
  margin-top: 20px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-font);
  color: var(--color-dark);
}